@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


/* This affects the overall body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Center the title and make it look appealing */
h1 {
  font-family: 'Oswald', sans-serif;/* Modern, clean typeface */
  font-weight: 300;  /* Lighter font weight */
  font-size: 36px;   /* Slightly larger font size */
  text-align: center; /* Center align */
  color: #706e6e;  /* Dark Gray */
  text-shadow: 1px 1px 3px rgba(0,0,0,0.1);  /* Slight text shadow */
  margin-bottom: 24px;
}

/* Affecting the container where the cards will go */
#results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Individual cards */
.card {
  border: 1px solid #ccc;
  margin: 16px;
  padding: 16px;
  width: calc(33.333% - 32px);  /* Three cards in a row - minus margin and padding */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Responsive behavior */
@media (max-width: 768px) {
  .card {
    width: calc(50% - 32px);  /* Two cards in a row */
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%;  /* One card takes full width */
  }
}


.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
}

.card:hover {
  transform: scale(1.05); /* Slightly increase the size of the card */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25); /* Enhanced shadow for depth */
}

.card-text {
  line-height: 1.2;
  margin-bottom: 10px; /* Adjusts the space below paragraphs */
}

.card-title {
  margin-bottom: 15px; /* Adjusts the space below titles */
}
